.client {
    text-align: center;
    padding: 4em 1.6em 3.6em;
}

.client__title {
    font-family: "Fraunces";
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.26em;
    margin-bottom: 1.9em;
    color: var(--Grayish-blue);
}

.client-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 800px) {
    .client {
        padding: 10em 1.6em 8.2em;
    }
    .client__title {
        font-size: 1.25em;
        margin-bottom: 2.4em;
    }
    .client-container {
        flex-direction: row;
        /* width: 90vw; */
        margin: 0em 7.8em 0 7.8em;
    }
}