.client-article {
    padding: 2.16em 0 2.16em;
}

.client-article__avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    margin-bottom: 1.82em;
    margin-right: 0.1em;
}

.client-article__content {
    font-size: 1.11em;
    line-height: 1.8em;
    margin-bottom: 1.8em;
    color: var(--Very-dark-grayish-blue);
}

.client-article__name {
    font-family: "Fraunces";
    font-size: 1.13em;
    margin-bottom: 0.65em;
    color: var(--Very-dark-desaturated-blue);
}

.client-article__title {
    font-size: 0.86em;
    color: var(--Grayish-blue);
}

@media (min-width: 800px) {
    .client-article {
        flex: 1;
        padding: 2.16em 0.95em 2.16em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .client-article__avatar {
        margin-bottom: 3.6em;
        margin-right: 0;
    }
    .client-article__content {
        margin-bottom: 3.9em;
    }
    .client-article__name {
        margin-right: 1em;
        margin-bottom: 0.7em;
    }
    .client-article__title {
        margin-right: 1.2em;
    }
}