.client {
    text-align: center;
    padding: 4em 1.6em 3.6em;
}

.client__title {
    font-family: "Fraunces";
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.26em;
    margin-bottom: 1.9em;
    color: var(--Grayish-blue);
}

.client-container {
    display: flex;
    flex-direction: column;
}