.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 800px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
}