html {
  /* ### Primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  /* ### Neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  --creamy-white: hsl(26, 100%, 99%);
  --light-cyan: hsl(167, 44%, 70%);
}

body {
  margin: 0;
  /* background-image: url("../design/mobile-design.jpg"); */
  /* background-image: url("../design/mobile-menu.jpg"); */
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Barlow";
  font-weight: 600;
  src: url("./fonts/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces";
  font-weight: 700;
  src: url("./fonts/Fraunces-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces";
  font-weight: 900;
  src: url("./fonts/Fraunces-Black.ttf") format("truetype");
}


.graphic-design-text {
  color: var(--Dark-desaturated-cyan);
}

.photography-text {
  color: var(--Dark-blue);
}

.footer-text {
  color: var(--Dark-moderate-cyan);
}

.big-text {
  font-weight: 900;
}

button {
  border: none;
  font-family: "Barlow";
  background: none;
  cursor: pointer;
}